
.img-wrap{
	margin: 30px 15px 20px 15px;
	padding-bottom: 15px;
}

.preview-right{
	width: 50%;
	height: 100%;
	display: inline-block;
	float: left;
}
.preview-left{
	width: 50%;
	height: 100%;
	display: inline-block;
	float: left;
}

.img-left{
	height: 100%;
	width: 100%;
	
}
.img-right{
	height: 100%;
	width: 100%;
}
.arm-button{
	padding-top: 1em;
}
